.row {
    display: flex;
}

.card{
    width: 33%;
    padding: 20px;
    margin: 10px;
    border: solid;
    cursor: pointer;
    
    border: none;
    border-radius: 10px;
    border-color: rgb(96, 96, 96);
    background-color: rgb(189, 221, 236);
    box-shadow: 5px 5px rgba(44, 138, 153, 0.75);
}

.card p{
    font-size: 16px;
    margin-top: 10px;
}

.card img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}