.progress {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.progress p{
    font-size: 14px;
}

.progress-collum-text{
    text-align: right;
    width: 20%;
}

.progress-collum-bar{
    margin-left: 5%;
    width: 60%;
}
  
.progress-label {
    margin-bottom: 5px;
}

.progress-bars {
    position: relative;
    height: 10px;
    margin-top: 5px;
}

.progress-bar {
    position: relative;
    height: 100%;
    border-radius: 50px;
}

.total-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px; 
    background-color: #ccc;
    border-radius: 50px;
}

.progress-numbers {
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}