header{
    width: 100%;
    margin: 0%;
    height: 40px;
    background-color: rgb(129, 171, 178)
}

.btn {
    border: none;
    cursor: pointer;
    color: white;
    background-color: inherit;
    
    padding: 5px;
    
    font-size: 16px;
    text-align: center;
}

.btn_lang{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
}
